<%= turbo_frame_tag 'tickets-search' do %>
  <% if @tickets.any? %>
    <section aria-label="Ticket results" class="mb-5">
      <h3>
        Ticket results (<%= number_with_delimiter(@tickets.count) %> found)
      </h3>

      <ul class="list-unstyled">
        <%= render Search::FacetResultComponent.with_collection(@tickets, form_field: 'tickets') %>
      </ul>
    </section>
  <% end %>
<% end %>
