<div class="card" id="cocina-description-card">
  <div class="card-body">
    <%= render Elements::JsonViewerComponent.new(hash: cocina_description_hash, expanded: 1, show_tip: true) %>
  </div>
</div>
