version: 2.1
orbs:
  node: circleci/node@7.2.1
  ruby-rails: sul-dlss/ruby-rails@4.6.0
jobs:
  stylelint:
    executor: node/default
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          name: Lint styles
          command: yarn run stylelint
  herblint:
    executor: ruby-rails/ruby
    steps:
      - checkout
      - run:
          name: Install Ruby dependencies
          command: bundle install
      - run:
          name: Lint ERBs
          command: bin/rake herb
workflows:
  build:
    jobs:
      - ruby-rails/lint:
          name: lint
          context: dlss
      - ruby-rails/lint-erb:
          context: dlss
      - ruby-rails/lint-js
      - herblint
      - stylelint
      - ruby-rails/test-rails:
          name: test
          context: dlss
          install-chrome: true
          before-test:
            - run:
                name: Prepare for running specs (install JS dependencies and build assets)
                command: bin/rake spec:prepare
            - setup_remote_docker
            # Make sure to set SETTINGS__SOLR__URL to http://solr:8983/solr/argo in CircleCI settings
            - run:
                name: Build and run Solr
                command: |
                  docker build -f Dockerfile-solr -t "argo-b3-solr:latest" .
                  network=`docker network ls --filter label=task-network --format "{{.ID}}"`
                  docker run -d --name solr -p 8983:8983 --network-alias solr --network $network argo-b3-solr:latest
            - run:
                name: Wait for Solr to be ready
                command: dockerize -wait tcp://solr:8983 -timeout 1m
