<div class="container">
  <div class="row" style="max-height: 500px; overflow-y: auto;">
    <div class="col-6">
      <pre>
        <%= JSON.pretty_generate(CocinaDisplay::Utils.deep_compact_blank(@cocina_object.description.to_h)) %>
      </pre>
    </div>
  </div>

  <div class="md:w-2/3 w-full">
    <h1 class="font-bold text-4xl">New chat</h1>

    <%= render "form", chat: @chat, druid: @cocina_object.externalIdentifier %>
  </div>
</div>
