<%= turbo_frame_tag 'tags-search' do %>
  <% if @tags.any? %>
    <section aria-label="Tag results" class="mb-5">
      <h3>Tag results (<%= number_with_delimiter(@tags.count) %> found)</h3>

      <ul class="list-unstyled">
        <%= render Search::FacetResultComponent.with_collection(@tags, form_field: 'tags') %>
      </ul>
    </section>
  <% end %>

  <%= render Search::DebugComponent.new(search_form: @search_form, results: @results) %>
<% end %>
