<div class="card" id="cocina-description-card">
  <h2 class="card-header">Cocina Description</h2>
  <div class="card-body" style="max-height: 500px; overflow-y: auto;">
    <pre>
      <%= helpers.pretty_compact_hash(cocina_description_hash) %>
    </pre>
  </div>
</div>
