<div class="card" id="purl-preview-card">
  <h2 class="card-header">PURL Preview</h2>
  <div class="card-body" style="max-height: 500px; overflow-y: auto;">
    <h2 class="mb-3"><%= title %></h2>
    <hr>
    <%= purl_preview %>
  </div>
</div>
