.more-facets {
  --bs-link-color-rgb: var(--sul-link-color-rgb);
  --bs-link-hover-color-rgb: var(--stanford-digital-blue-dark-rgb);
}

a[aria-expanded="true"] {
  .expand-icon {
    display: none;
  }

  .collapse-icon {
    display: inline;
  }
}

a[aria-expanded="false"] {
  .expand-icon {
    display: inline;
  }

  .collapse-icon {
    display: none;
  }
}

// # Derived from BL .applied-filter .filter-name::after
.selected-item-separator {
  color: #adb5bd;
  font-size: 90%;
  padding-left: 0.3em;
}

