// Object show page
.object-show {
  .show-box {
    max-width: 300px;

    > .border {
      height: 180px;
      overflow-y: auto;
    }
  }

  .object-type-badge {
    width: 240px;
    height: 38px;
  }

  .use-access-copyright-section .card {
    background-color: rgb(var(--stanford-fog-light-rgb));
    border: 0;
    max-width: 300px;
    width: 100%;
  }

  .nav-underline .nav-link {
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
  }

  // So that when the tables are stacked, there isn't extra space.
  .split-table caption {
    padding: 0;
  }

  // So that when the tables are stacked, there isn't a border below caption.
  .split-table-right caption {
    @include media-breakpoint-down(xl) {
      border-bottom: 0;
    }
  }

  .file-set-card {
    background-color: var(--stanford-fog-light);
  }
}

@mixin object-type-colors($color, $color-rgb) {
  .object-type-bg {
    background-color: $color;
  }

  .object-type-bg-light {
    background-color: rgba(#{$color-rgb}, 0.1);
  }

  .border.object-type-border {
    --bs-border-color: #{$color};
  }

  .pinned {
    color: $color;
  }
}

.object-type-item {
  @include object-type-colors($item-color, $item-color-rgb);
}

.object-type-collection {
  @include object-type-colors($collection-color, $collection-color-rgb);
}

.object-type-apo {
  @include object-type-colors($admin-policy-color, $admin-policy-color-rgb);
}

.object-type-agreement {
  @include object-type-colors($agreement-color, $agreement-color-rgb);
}

.object-type-virtual-object {
  @include object-type-colors($virtual-object-color, $virtual-object-color-rgb);
}

.object-type-search {
  @include object-type-colors($search-color, $search-color-rgb);
}
