<%= turbo_frame_tag(@druid, 'workflows') do %>
  <div class="accordion">
    <% @workflows.each do |workflow| %>
      <%= render Show::WorkflowAccordionItemComponent.new(workflow:) %>
    <% end %>
  </div>
<% end %>
