<div>
  <%= form_builder.check_box form_field.to_sym, { multiple: true, checked: checked? }, value, nil %>
  <%= form_builder.label "#{form_field}_#{value}", "#{value} (#{number_with_delimiter(count)})" %>
</div>
