<%= render Search::FacetSectionComponent.new(label:, show: show?) do %>
  <ul>
    <% facet_counts.each do |facet_count| %>
      <li>
        <%= render Search::FacetValueComponent.new(count: facet_count.count, search_form:, form_field:, value: facet_count.value, selected: search_form.selected?(key: form_field, value: facet_count.value)) %>
      </li>
    <% end %>
  </ul>
<% end %>
