<%= tag.li class: 'list-group-item', role: 'option', data: { autocomplete_value: value } do %>
  <span class="facet-label"><%= value %></span>
  <span class="facet-count"><%= count %></span>
<% end %>
