<%= tag.section 'aria-label': "Loading #{label}", class: 'mb-5' do %>
  <h3><%= label %> (Loading ...)</h3>

  <ul class="list-unstyled placeholder-glow">
    <% for index in 1..number_of_placeholders %>
      <li>
        <h4 class="h5">
          <span class="fw-light me-1"><%= index %>.</span>
          <span class="placeholder col-6"></span>
        </h4>
      </li>
    <% end %>
  </ul>
<% end %>
