<li class="nav-item" role="presentation">
  <%= tag.button class: button_classes, id:, data:,
                 type: 'button', role: 'tab',
                 'aria-controls': 'details-pane', 'aria-selected': active?, 'aria-disabled': disabled? do %>
  <%= label %>
  <% end %>
</li>
